@page "/"

@using TspCoordinator.Data
@inject TspInstancesService TspInstancesService
@inject IStringLocalizer<Index> Loc

<PageTitle>Index</PageTitle>

<h1>TSP Coordinator</h1>

<p>@Loc["Welcome"]</p>

@if(tspInstanceCount == null)
{
    <p>Loading TSP instances...</p>
}
else
{
    <p>
        @String.Format(Loc["TSPInstancesTotal"], tspInstanceCount.Value.Item1)
        (@String.Format(Loc["TSPInstancesActiveNotWorking"], tspInstanceCount.Value.Item2, tspInstanceCount.Value.Item1 - tspInstanceCount.Value.Item2)).
    </p>
}

@code {
    private (int, int)? tspInstanceCount;

    protected override async Task OnInitializedAsync()
    {
        tspInstanceCount = await TspInstancesService.GetInstancesCountAsync();
    }
}