@inherits LayoutComponentBase

<PageTitle>TSP Coordinator</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span>@(ThisAssembly.AssemblyInformationalVersion)</span>
            <a href="https://github.com/Clover-Group/tsp-coordinator" target="_blank">About</a>

            <div style="margin: 8mm;"><CultureSelector /></div>
        </div>

        <article class="content px-4">
            @Body
        </article>

    </main>
</div>
